::-webkit-scrollbar { display: none; }

/* Стили для выпадающего меню */
.tag-dropdown {
    font-family: "Roboto";
    font-weight: 400;
    position: absolute;
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0px 0px 3px 0px var(--tg-theme-section-separator-color);
    border-radius: 7px; /* Скругленные углы */
    min-width: 200px; /* Минимальная ширина, можно настроить */
    max-width: 250px; /* Максимальная ширина */
    z-index: 10000;
    display: none;
    overflow-y: auto; /* Для прокрутки */
    color: var(--tg-theme-text-color);
    text-decoration: none;
}

/* Стили для каждого элемента в выпадающем меню */
.dropdown-item {
    display: flex;
    align-items: center;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 15px; /* Отступы внутри элемента */
    cursor: pointer;
    white-space: nowrap; /* Предотвращает перенос текста тега */
    font-size: 16px;
    color: var(--tg-theme-text-color);
    text-decoration: none;
    line-height: 1.5; /* Для лучшей читаемости */
}

/* Скрываем стандартный радио-баттон */
.dropdown-item input[type="radio"] {
    /* Используем clip для лучшей доступности, чем display: none; */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Стили для обертки галочки (для правильного выравнивания) */
.checkmark-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px; /* Ширина области для галочки */
    height: 14px; /* Высота области для галочки */
    margin-right: 16px; /* Отступ от текста тега */
    stroke: var(--tg-theme-button-color); /* Цвет галочки */
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px; /* Ширина области для галочки */
    height: 28px; /* Высота области для галочки */
    margin-right: 13px; /* Отступ от текста тега */
    stroke: var(--tg-theme-text-color); /* Цвет галочки */
}

/* Скрываем галочку по умолчанию */
.checkmark-icon {
    display: none;
    width: 100%;
    height: 100%;
}

/* Показываем галочку, когда радио-баттон выбран */
.dropdown-item input[type="radio"]:checked ~ .checkmark-wrapper .checkmark-icon {
    display: block;
}