.radio-container {
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.radio-container input {
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2.2px solid var(--tg-theme-hint-color);
    transition: border-color 0.1s ease;
}

.radio-container input:checked ~ .radio-checkmark {
    border-color: var(--tg-theme-button-color);
}

.radio-checkmark:after {
    content: "";
    position: absolute;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--tg-theme-button-color);
    transition: transform 0.3s ease;
}

.radio-container input:checked ~ .radio-checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}