:root {
    --tg-theme-secondary-bg-color: #f0f0f0;
    --tg-theme-text-color: #222222;
    --tg-theme-button-color: #50a8eb;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-link-color: #2678b6;
    --tg-theme-section-header-text-color: #3a95d5;
    --tg-theme-hint-color: #a8a8a8;
    --tg-theme-destructive-text-color: #cc2929;
    --tg-theme-section-separator-color: #d9d9d9;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-subtitle-text-color: #82868A;
    --tg-theme-bottom-bar-bg-color: #f0f0f0;
    --tg-theme-accent-text-color: #1C93E3;

    --otstup: 20px;
}

html { scrollbar-width: none; } 
body { -ms-overflow-style: none; }
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; }

body {
    background-color: var(--tg-theme-secondary-bg-color);
    margin: 0;
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section {
    width: 100%;
    background-color: var(--tg-theme-section-bg-color);
}
section.bottom {
    margin-bottom: 12px;
}

/* item */
.item {
    padding-left: var(--otstup);
    display: flex;
    text-decoration: none;
    position: relative;
    overflow: hidden; 
}
.item .separator {
    border-bottom: 0.5px solid var(--tg-theme-section-separator-color);
}
.big-header {
    align-items: center;
    text-align: center;
    padding: 24px 28px;
}
.big-header img {
    width: 100px;
}
.big-header-title {
    margin-bottom: 12px;
    margin-top: 8px;
}
.info_block {
    display: grid;
    grid-template-columns: 45px auto;
    padding: 15px 40px 0px 20px;
}
.icon_info_block {
    text-align: center;
    width: 30px;
    height: 30px;
}
.text_info_block {
    text-align: left;
    margin-bottom: 15px;
    gap: 3px;
}


/* Основные компаненты item-а */
.item .right {
    display: flex;
    padding-right: var(--otstup);
    width: 100%;
}
.item .left {
    display: flex;
    place-items: center;
    margin-right: 14px;
    text-decoration: none;
}
.item .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(129, 129, 129, 0.151); /* Белый, полупрозрачный */
    transform: translate(-50%, -50%); /* Центрирует круг относительно его top/left */
    opacity: 1; /* Начинается полностью видимым */
    pointer-events: none; /* Важно: позволяет кликам проходить "сквозь" ripple до .item */
    animation: ripple-effect 0.5s ease-out forwards;
    z-index: 3; /* Гарантирует, что ripple будет поверх содержимого .item */
}
@keyframes ripple-effect {
    0% {
        transform: translate(-50%, -50%) scale(0.2); /* Начинается очень маленьким */
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Вырастает до своего полного размера, заданного в JS */
        opacity: 0; /* Полностью исчезает */
    }
}


/* Контейнеры для элементов item-а */
.item .ava {
    border-radius: 50%;
    width: 42px;
}
.item .icon {
    width: 42px;
}
.item .text {
    width: 100%;
}
.item .text.oneline {
    padding-top: 15px;
    padding-bottom: 15px;
}
.item .text.twoline {
    padding-top: 9px;
    padding-bottom: 9px;
}
.item .text.header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.item .element {
    display: flex;
    white-space: nowrap;
    place-items: center;
    text-decoration: none;
}
.item .element svg {
    stroke: var(--tg-theme-hint-color);
}
.item.footer {
    margin-bottom: 20px;
    color: var(--tg-theme-subtitle-text-color);
}


/* Кнопки */
.button {
    display: flex;
    background: var(--tg-theme-button-color);
    border: none;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    color: #fff;
    cursor: pointer;
}
.button:active {
    transition: 0.03s;
    transform: scale(0.96);
}


/* Цвета элементов */
.label {
    color: var(--tg-theme-text-color);
    cursor: default;
}
.defult {
    color: #fff;
    cursor: default;
    z-index: 1;
}
.subname {
    color: #ffffff9d;
    cursor: default;
}
.title {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    height: 20px;
    padding-top: 20px;
    width: 100%;
}
.second-title {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    color: var(--tg-theme-accent-text-color);
    cursor: pointer;
}
.label-active {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    text-decoration: none;
}
.label-hint {
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;
}
.label-destructive {
    color: var(--tg-theme-destructive-text-color);
    cursor: default;
}
.subtitle {
    margin-top: 2px;
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;
}