.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
    -webkit-tap-highlight-color: transparent;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-tap-highlight-color: transparent;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -7px;
    right: 0;
    bottom: 0;
    background-color: var(--tg-theme-hint-color);
    transition: .2s;
    border-radius: 7px;
    -webkit-tap-highlight-color: transparent;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    bottom: -3px;
    background-color: var(--tg-theme-section-bg-color);
    border: 2.2px solid var(--tg-theme-hint-color);
    transition: .2s;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

input:checked + .slider {
    background-color: var(--tg-theme-button-color);
    -webkit-tap-highlight-color: transparent;
}

input:checked + .slider:before {
    border: 2.2px solid var(--tg-theme-button-color);
    -webkit-tap-highlight-color: transparent;
}

input:checked + .slider:before {
    transform: translateX(15px);
    -webkit-tap-highlight-color: transparent;
}

